<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCOUTSIDE</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body style="background-color: white;">
    <header>
        <%- logined_text %>
        <!-- 로고 및 제목 -->
        <img src="../dc.png" alt="DC Logo" width="300" height="150">
        <h1>DCOUTSIDE</h1>
        <!-- 로그인, 회원가입 및 글 작성 페이지 링크 -->
        <section class="header-actions">
            <!-- <a href="/login" class="back-button">로그인</a>
            <a href="/register" class="back-button">회원가입</a> -->
            <%- actions %>
        </section>
    </header>

    <main>
        <!-- 게시글 목록 -->
        <section>
            <h2>게시글 목록</h2>
            <table border="1" width="100%" cellspacing="0" cellpadding="5">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < posts.length; i++ ) { %>
                    <tr>
                        <td><%= posts[i].id %></td>
                        <td><a href="/post?id=<%- posts[i].id %>"><%= posts[i].title %></a></td>
                        <td><%= posts[i].author %></td>
                        <td><%= posts[i].time.getFullYear() %>-<%= posts[i].time.getMonth() + 1 %>-<%= posts[i].time.getDate() %> <%= posts[i].time.toTimeString().slice(0, 8) %></td>
                        <td>
                            <form action="/post?id=<%- posts[i].id %>", method="delete">
                                <button type="submit">삭제</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 copybara DCOUTSIDE</p>
    </footer>
</body>
</html>
