<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %> - DCOUTSIDE</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body style="background-color: white;">
    <header>
        <strong class="header-name"><%= logined_text %></strong>
        <img src="../dc.png" alt="DC Logo" width="300" height="150">
        <h1>DCOUTSIDE</h1>
        <section class="header-actions">
            <a href="/" class="back-button">홈</a>
        </section>
    </header>

    <main>
        <section class="post-detail">
            <h2><%= post.title %></h2>
            <p><strong>작성자:</strong> <%= post.author %></p>
            <p><strong>작성일:</strong> <%= post.time.getFullYear() %>-<%= post.time.getMonth() + 1 %>-<%= post.time.getDate() %> <%= post.time.toTimeString().slice(0, 8) %></p>
            <p><strong>글 ID:</strong> <%= post.id %></p>
            <div class="post-content">
                <p><%= post.content %></p>
            </div>
            <form action="/delete" method="get">
                <input type="hidden" name="id" value="<%= post.id %>">
                <button type="submit" class="delete-button">글 삭제</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 copybara DCOUTSIDE</p>
    </footer>
</body>
</html>
